pandas
numpy
shap
streamlit
plotly
python-dotenv
langchain
streamlit_chat
scikit-learn
xgboost
tensorflow
streamlit-option-menu
groq
openai
streamlit-lottie
requests
seaborn
matplotlib
pandas-profiling
sweetviz
torch
langchain-community
langchain-experimental
